.weather-card {
  background: rgb(255, 0, 0);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
  max-width: 300px;
  text-align: center;
  margin-top: 20px;
}

.weather-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.weather-card h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.weather-card p {
  margin: 5px 0;
  font-size: 18px;
  color: #555;
}
