.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.weather-details input {
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-align: center;
}

.weather-details button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: #66a6ff;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: background 0.20s ease, transform 0.10s ease;
}

.weather-details button:hover {
  background: #89f7fe;
  transform: scale(1.05);
}

.weather-details button:focus {
  outline: none;
}
