
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #89f7fe 0%, #000000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}
